<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"       
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
	xmlns:mvc="http://www.springframework.org/schema/mvc"       
	xmlns:p="http://www.springframework.org/schema/p"       
	xmlns:context="http://www.springframework.org/schema/context"       
	xmlns:aop="http://www.springframework.org/schema/aop"       
	xmlns:tx="http://www.springframework.org/schema/tx"       
	xsi:schemaLocation="http://www.springframework.org/schema/beans            
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd            
						http://www.springframework.org/schema/context            
						http://www.springframework.org/schema/context/spring-context-3.0.xsd            
						http://www.springframework.org/schema/aop            
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd            
						http://www.springframework.org/schema/tx            
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd            
						http://www.springframework.org/schema/mvc            
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<bean class="JDBC.JDBCUtil"></bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	    <property name="locations"> <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->  
	        <array>  
	            <value>classpath:cfg.properties</value>  
	        </array>  
	    </property>  
	</bean> 
	<!-- 配置数据源 -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <!-- 使用properties来配置 -->
        <property name="driverClassName">
            <value>${jdbc_driverClassName}</value>
        </property>
        <property name="url">
            <value>${jdbc_url}</value>
        </property>
        <property name="username">
            <value>${jdbc_username}</value>
        </property>
        <property name="password">
            <value>${jdbc_password}</value>
        </property>
    </bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
	<!--        使Spring支持自动检测组件，如注解的Controller        -->
	<context:annotation-config />
	<context:component-scan base-package="hfy.model.*" /> 
	<context:component-scan base-package="hfy.action.*" /> 
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->           
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<bean  id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/page/"
		p:suffix=".jsp"/>
		
		
</beans>